.page-not-container{
    position: relative;
    min-height: 100vh;

       .error-heading{
        font-size: 200px;
        font-weight: 800;
        line-height: 1;
        margin-top: 150px;
        text-align: center;
        color: var(--blue);
       }
        .error-msg{
            font-size: 1.5rem;
            text-align: center;
            margin-top: 50px;
        }

        .back{
            font-size: 1.3rem;
            text-align: center;
            margin-top: 50px;
            font-weight: 600;
        }
}