<div class="container-fluid page-not-container">
    <div class="row justify-content-center align-items-center" >
        <div class="col-sm-12">
            <div class="display-1 error-heading">
                404
            </div>
            <div class="text-bold">
                <p class="error-msg">The page you are attempting to reach is currently not available. <br> This may be because the page does not exist or has been moved.</p>
            </div>
            <div class="back">
               <a href="javascript:void(0);" (click)="backToPage()">Back To Page</a> 
            </div>
            
        </div>
    </div>
</div>