<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="title d-flex justify-content-between align-items-center h3">{{productConfig.type}} Description<span class="close"
                (click)="closeModal()">&times;</span></div>
        <div class="row justify-content-center align-items-center p-3">
            <div class="col-sm-7">
                <div class="img">
                    <img [src]="productConfig.baseImgPath+productConfig.item.image[0]" class="d-block mx-auto my-4"
                        width="350" height="300" alt="">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="product-details ps-lg-3">
                    <h3 class="card-title h3 mb-3">{{productConfig.item.name|titlecase}}</h3>
                    <div class="card-text mb-3">
                        <img src="../../../assets/images/star-fill.svg" class="me-3" width="18" height="16" alt="">
                        <img src="../../../assets/images/star-fill.svg" class="me-3" width="18" height="16" alt="">
                        <img src="../../../assets/images/star-fill.svg" class="me-3" width="18" height="16" alt="">
                        <img src="../../../assets/images/star-fill.svg" class="me-3" width="18" height="16" alt="">
                    </div>
                    <div class="card-text h3 mb-3" *ngIf="productConfig.item.price"> ${{productConfig.item.price-productConfig.item.discount_id}}</div>
                    <div class="card-text description mb-3">{{productConfig.item.description}} Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Nihil eaque amet repudiandae, cum harum numquam omnis temporibus
                        maxime impedit natus aspernatur corporis nemo incidunt exercitationem facilis reprehenderit
                        autem, at excepturi praesentium voluptatem aliquam iure officia. Voluptate dignissimos velit
                        earum, officia fugiat iste facere omnis doloribus!</div>
                    <div class="row mt-3">
                        <strong class="col-3">Type:</strong>
                        <dd class="col-9">Regular</dd>

                        <strong class="col-3">Category</strong>
                        <dd class="col-9">Brown</dd>

                        <strong class="col-3">Sub-Category</strong>
                        <dd class="col-9">Cotton, Jeans</dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>