    <div class="modal attachModal">
        <div class="modal-content rounded-0"
            [ngClass]="{'opacityLow':loader}">
            <span class="close"
                (click)="closeModal()">&times;</span>
            <h5>Upload Product Images <small *ngIf="errorMessage" class="text-danger">({{errorMessage}})</small></h5>
            <div class="form">
                <div class="wrapper">
                    <div class="container">
                        <div class="upload-container">
                            <div class="border-container">
                                <div class="dragDrop">
                                    <button type="button"
                                        class="btn btn-success file-button"
                                        (click)="fileInput.click()">Select
                                        Files</button>
                                    <input type="file"
                                        id="fileInput"
                                        #fileInput multiple
                                        (change)="onFileChange($event)"
                                        class="file-input" />
                                </div>
                                <ol class="file-list"
                                    *ngIf="selectedFiles.length > 0">
                                    <li class="text-center"
                                        *ngFor="let item of selectedFiles">
                                        <span style="display: inline-flex; align-items: center; justify-content: space-around;">
                                            <span class="fileEllipsis" title="{{ item.image.name }}">{{ item.image.name }} </span>
                                            <span class="close" (click)="removeItem(item.image)">&times;</span>
                                        </span>
                                    </li>
                                </ol>
                            </div>
                            <button type="button" class="btn btn btn-primary file-button" [disabled]="selectedFiles.length==0" (click)="uploadImgToGetName()">Upload</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="loader" *ngIf="loader">
        <div class="justify-content-center jimu-primary-loading"></div>
    </div>