<div class="container-fluid">
    <div class="row p-3 bg-light align-items-center">
        <div class="col-sm-6  ps-3 h3 ">Dashboard</div>
        <div class="col-sm-6 text-end pe-3"></div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-4 ps-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ps-2">
                  <li class="breadcrumb-item">Vendor-Panel</li>
                  <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
              </nav>
        </div>
    </div>
    <div class="row m-3 justify-content-around">
        <div class="col-sm-3 text-end font-weight-bold">Today's Booking</div>
        <div class="col-sm-3 text-end">Total Booking</div>
        <div class="col-sm-3 text-end">Total Completed Booking </div>
        <div class="col-sm-3 text-end">Total Cancel Booking</div>
    </div>
    <div class="row m-3 justify-content-around">
        <div class="col-sm-3 text-end">Today's Revenue</div>
        <div class="col-sm-3 text-end">Total Revenue</div>
        <div class="col-sm-3 text-end">Total Active Provider </div>
        <div class="col-sm-3 text-end">Total Inactive Provider</div>
    </div>
    <div class="row m-3 justify-content-start">
        <div class="col-sm-3 text-end">Total Active User</div>
        <div class="col-sm-3 text-end">Total Inactive User</div>
    </div>
</div>